
<section class="top-wrapper wrapper">
    <div class="container">
      <div class="top-wrapper-header">
        <% unless user_signed_in? %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>
      <h1 class="sp-title">Menumeal</h1>
      <h1 class="pc-message">おすすめメニューをみつけよう</h1>
      <%= search_form_for(@q, url:shops_path, class: "search-box") do |f| %>
        <%= f.label :name_cont, "店舗名" %>
        <%= f.search_field :name_cont, class: "form-control" %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
</section>

<div class="pc-section">
    <section class="ranking-wrapper">
      <div class="ranking-container">
        <h1 class="section-title">ランキング</h1>
      </div>
    </section>
    <section class="find-by-area-wrapper">
      <div class="container">
        <h1 class="section-title">都道府県から探す</h1>
        <div class="prefecture-container"></div>
      </div>
    </section>


    <section class="recommended-menu-wrapper wrapper">
      <div class="container">
        <h1 class="section-title">注目のメニュー</h1>

        <div class="menus-container">

          <% @recommended_reviews.each do |review| %>
            <div class="menu-container">
              <%= image_tag review.picture %>
              <%= link_to review.menu.name, menu_path(review.menu.id), class: "menu-name" %>
              <%= link_to review.menu.shop.name, shop_path(review.menu.shop.id), class: "shop-name" %>
            </div>
          <% end %>
        </div>

      </div>
    </section>


</div><!-- pcsection -->

  <section class="shop-finder-wrapper wrapper">
    <div class="container">
      <h1 class="section-title">お店を探す</h1>
      <div class="find-by-location-button"><i class="fa fa-map-marker"></i>　現在位置から探す</div>
    </div>
  </section>

  <section class="new-menu-wrapper wrapper">
    <div class="container">
      <h1 class="section-title">
        新着メニューから探す
      </h1>
      <div class="new-menus-container">
        <% @reviews.each do |review| %>
          <a class="new-menu-image" href="<%= menu_path(review.menu_id) %>" style="background-image: url(<%= review.picture %>)"></a>
        <% end %>
      </div>
    </div>
  </section>
