<section class="sp-form-wrapper">
<h1 class="sp-form-title">メニューを登録</h1>

<%= form_for(@menu, url: menus_path) do |f| %>

  <!-- <%= f.label :shop_id, '店舗' %><br/> -->
  <h3 class="sp-form-label">店舗</h3>
  <%= f.collection_select :shop_id, @shops, :id, :name %><br/>

  <!-- <%= f.label :name, 'メニュー名' %><br/> -->
  <h3 class="sp-form-label">メニュー名</h3>
  <%= f.text_field :name, size: 30, class: "sp-form-text" %><br/>

  <!-- <%= f.label :price, '値段(税込)' %><br/> -->
  <h3 class="sp-form-label">値段(税込)</h3>
  <%= f.number_field :price , class: "sp-form-text"%><br/>

  <!-- <%= f.label :menu_type, 'メニューの種類' %><br/> -->
  <h3 class="sp-form-label">メニューの種類</h3>
  <%= f.select :menu_type, ['food', 'drink', 'others'],
          { include_blank: '選択してください' }, class: "sp-form-text" %><br/>

  <%= f.submit 'メニューを新規登録', class: "sp-form-submit" %>
<% end %>
</section>
