<section class="menu-show-header">
  <div class="container">
  <div class="menu-header-top">
    <%= link_to "Top", root_path %>
    <span> > </span>
    <%= link_to @menu.shop.name, shop_menu_path(@menu.shop) %>
  </div>
  <h2 class="menu-header-menu-name"><%= @menu.name %></h2>
  <span class="menu-header-menu-price"><%= @menu.price %>円</span>
  </div>
  <div class="menu-icons-container">
    <%= render 'e_m_register_form'%>
    <%= render 'd_m_register_form'%>
  </div>
</section>
<nav class="sort-btn-wrapper">
  <div class="container">
    <a href="#" class="sort-btn">▼</a>
  </div>
</nav>
<% @reviews.each do |review| %>
<div class="review-container">
  <div class="review-top-container">
    <div class="container">
      <%= link_to image_tag(review.user.prof_picture, class: "user-icon-image"), user_path(review.user_id), class: "user-icon" %>
      <div class="name-container">
        <%= link_to review.user.name, user_path(review.user_id), class: "user-name" %>
        <%= link_to review.menu.name, menu_path(review.menu_id), class: "menu-name" %>
        <span class="span">/</span>
        <%= link_to review.menu.shop.name, shop_path(review.menu.shop_id), class: "shop-name" %>
      </div>
    </div>
  </div>

  <%= link_to image_tag(review.picture), review_path(review), class: "review-image-container" %>

  <!-- <div class="icons-container">
    <div class="container">
      <span id="like-of-<%= review.id %>">
     <%= render partial: "likes/like_links", locals: { review_id: review.id } %>
    </span>
    <% if review.likes.present? %>
    <span class="counter"><%= review.likes.count %></span>
    <% end %>
    <%= link_to comments_new_path(review.id) do %>
      <i class="fa fa-comment-o comment-icon icon-item"></i>
      <% if review.comments.present? %>
      <%= link_to review.comments.count, comments_new_path(review.id), class: "counter" %>
      <% end %>
    <% end %>
    <a href="#">
      <i class="fa fa-bookmark-o icon-item"></i>
      <% if review.menu.desired_menus.present? %>
      <span class="counter"><%= review.menu.desired_menus.count %></span>
      <% end %>
    </a>
    </div>
  </div> -->

  <div class="text-container">
    <div class="container">
      <span><%= review.content %></span>
    </div>
  </div>
</div>
<% end %>
