<h2>■詳細情報</h2>
<table>
  <tr>
    <th>アクセス</th>
    <td><%= @shop_detail.access %></td>
  </tr>
  <tr>
    <th>営業時間</th>
    <td><%= @shop_detail.operating_hours %></td>
  </tr>
  <tr>
    <th>定休日</th>
    <td><%= @shop_detail.holiday %></td>
  </tr>
  <tr>
    <th>席数</th>
    <td><%= @shop_detail.seats %>席</td>
  </tr>
  <tr>
    <th>個室</th>
    <td><%= @shop_detail.private_room %></td>
  </tr>
  <tr>
    <th>カウンター席</th>
    <td><%= @shop_detail.bar %></td>
  </tr>
  <tr>
    <th>駐車場</th>
    <td><%= @shop_detail.parking %></td>
  </tr>
  <tr>
    <th>支払い方法</th>
    <td><%= @shop_detail.payment %></td>
  </tr>
  <tr>
    <th>喫煙</th>
    <td><%= @shop_detail.smoking %></td>
  </tr>
  <tr>
    <th>予算</th>
    <td><%= @shop_detail.budget %></td>
  </tr>

</table>
