<section class="sp-form-wrapper">
  <h1 class="sp-form-title">店舗基本情報を修正</h1>
<%= form_for(@shop, url: shop_path(@shop) ) do |f| %>
  <!-- <%= f.label :name, '店舗名' %><br/> -->
  <h3 class="sp-form-label">店舗名</h3>
  <%= f.text_field :name, size: 25, class: "sp-form-text" %><br/>

  <!-- <%= f.label :kana, 'よみがな(店舗名)' %><br/> -->
  <h3 class="sp-form-label">よみがな(店舗名)</h3>
  <%= f.text_field :kana, size: 25, class: "sp-form-text" %><br/>

  <!-- <%= f.label :address,'住所' %><br/> -->
  <h3 class="sp-form-label">住所</h3>
  <%= f.text_field :address, size: 25, class: "sp-form-text" %><br/>

  <!-- <%= f.label :tel, '電話番号' %><br/> -->
  <h3 class="sp-form-label">電話番号</h3>
  <%= f.text_field :tel, size: 12, class: "sp-form-text" %><br/>

  <h3 class="sp-form-label">画像</h3>
  <%= f.label :prof_picture, '　画像追加', {class: "input_file fa fa-camera"} %><br/>
  <%= f.file_field :prof_picture %><br/>

  <%= f.submit '編集を登録', class: "sp-form-submit" %>
<% end %>
</section>
