<!-- 店舗トップページ -->
<div class="shop_top">
  <h1 class="shop_name"><%= @shop.name %><span class="shop_kana">(<%= @shop.kana %>)</span></h1>

  <img src="<%= "/shop_prof_images/#{@shop.prof_picture}" %>" width="50%" height="50%"><br/>
  <%= link_to "メニュー (#{@shop.menus.size})", shop_menu_path(@shop), class: "shop_menu_link" %>

  <h2>■住所</h2>
  <span><%= @shop.address %></span>

  <h2>■電話番号</h2>
  <span><%= @shop.tel %></span><br/>

  <!-- ここに詳細情報を挿入 -->
  <%= render 'shops/shop_detail' %>

  <%= link_to '編集', edit_shop_path(@shop)  %>|
  <%= link_to '削除', shop_path(@shop), method: :delete, data: {confirm: '本当に削除しますか？'} %><br>

  <%= link_to '詳細情報を編集', edit_shop_detail_path(@shop)  %>|
</div>
