<section class="user-top-wrapper">
    <div class="container">
      <div class="user-top-top">
        <% if @user ==  current_user %>
          <% if @user.prof_picture? %>
           <%= link_to image_tag(@user.prof_picture, class: "user-icon"), edit_user_registration_path, class: "user-top-left" %>
          <% else %>
           <%= link_to image_tag('/user_picts/default.png', class: "user-icon"), edit_user_registration_path, class: "user-top-left" %>
          <% end %>
        <% else %>
          <% if @user.prof_picture? %>
          <div class="user-top-left">
           <%= image_tag(@user.prof_picture, class: "user-icon") %>
          </div>
          <% else %>
          <div class="user-top-left">
           <%= image_tag('/user_picts/default.png', class: "user-icon") %>
          </div>
          <% end %>
        <% end %>

        <div class="user-top-right">
          <div class="user-top-right-top">
            <!-- ユーザーネーム、設定 -->
            <span class="user-name"><%= @user.name %></span>
            <% if @user == current_user%>
              <%= link_to "◯", edit_user_registration_path, class: "settings-icon" %>
            <% end %>
          </div>
          <div class="user-top-right-bottom">
            <!-- 投稿、フォロー、フォロワー -->
            <div class="user-relation-info">
              <%= link_to @user.reviews.count, user_path(@user), class: "count" %>
              <span class="type">投稿</span>
            </div>
            <div class="user-relation-info">
              <%= link_to @user.followers.count, followers_user_path(@user), class: "count" %>
              <span class="type">フォロワー</span>
            </div>
            <div class="user-relation-info">
              <%= link_to @user.following.count, following_user_path(@user), class: "count" %>
              <span class="type">フォロー中</span>
            </div>
          </div>
        </div>

      </div>

      <div class="user-top-bottom">
        <!-- ユーザープロフィール文 -->
        <span class="user-profile"><%= @user_profile.profile %></span>
      </div>

    </div>
</section>

<nav class="user-nav-wrapper">
  <div class="container">
    <%= link_to "投稿", user_path(params[:id]), class: "user-nav-item" %>
    <%= link_to "食べた", eaten_menus_user_path(params[:id]), class: "user-nav-item" %>
    <%= link_to "食べたい", desired_menus_user_path(params[:id]), class: "user-nav-item" %>
  </div>
</nav>

<section class="user-bottom-wrapper">
  <!-- <div class="container"> -->
    <% @eaten_menus.each do |eaten_menu| %>
      <%= link_to image_tag(eaten_menu.menu.reviews.last.picture, class: "user-review-image"), review_path(eaten_menu.menu_id), class: "user-review-container" %>
    <% end %>
  <!-- </div> -->
</section>
