<section class="user-top-wrapper">
    <div class="container">
      <div class="user-top-top">
        <% if @user.prof_picture? %>
         <%= link_to image_tag(@user.prof_picture, class: "user-icon"), edit_user_registration_path, class: "user-top-left" %>
        <% else %>
         <%= link_to image_tag('/user_picts/default.png', class: "user-icon"), edit_user_registration_path, class: "user-top-left" %>
        <% end %>
        <div class="user-top-right"></div>
      </div>
      <div class="user-top-bottom">
      </div>
    </div>
</section>

<nav class="user-nav-wrapper">
  <div class="container">
    <%= link_to "投稿", user_path(params[:id]), class: "user-nav-item" %>
    <%= link_to "食べた", eaten_menus_user_path(params[:id]), class: "user-nav-item" %>
    <%= link_to "食べたい", desired_menus_user_path(params[:id]), class: "user-nav-item" %>
  </div>
</nav>

<section class="user-bottom-wrapper">
</section>
