
<section class="top-wrapper wrapper">
    <div class="container">
      <div class="top-wrapper-header">
        <% unless admin_user_signed_in? %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>
      <h1 class="sp-title">Menumeal</h1>
      <h1 class="pc-message">おすすめメニューをみつけよう</h1>
      <%= search_form_for(@q, url:admin_shops_path, class: "search-box") do |f| %>
        <%= f.label :name_cont, "店舗名" %>
        <%= f.search_field :name_cont, :placeholder => "店舗名で検索", class: "form-control" %>
        <%= f.submit "検索" %>
      <% end %>
      <!-- <div class="search-box">
        <ul>
          <li class="search-item">メニュー</li>
          <li class="search-item">お店</li>
          <li class="search-button">検索</li>
        </ul>
      </div> -->
    </div>
</section>