<% @reviews.each do |review| %>
<div class="review-container">
  <div class="item__header clearfix">
      <%= link_to image_tag(review.user.prof_picture, class: "item__user-icon-img user-icon"), user_path(review.user_id), class: "item__user-icon" %>
      <strong><%= link_to review.user.name, user_path(review.user_id), class: "item__user-name" %></strong>
    <!-- <span class="item__date">
      2014/08/29 19:00
    </span> -->
  </div>

  <div class="image-container">
    <%= link_to image_tag(review.picture, class: "rev-img"), review_path(review) %>
    <%= link_to review.menu.name, menu_path(review.menu_id), class: "review_menu_name" %>
  </div>

  <div class="icons-container">
    <a href="#">
      <i class="fa fa-heart-o heart-icon"></i>
    </a>
    <!-- <%= render partial: "likes/like_links", locales: {review: review} %> -->
    <!-- <% if review.like_user(current_user) %>
      <%= link_to "いいね取り消し", like_path, method: :delete %>
    <% else %>
      <%= link_to "いいね",  likes_path(review.id), method: :post %>
    <% end %> -->
    <!-- <a href="/comments/#{review.id}/new">
      <i class="fa fa-comment-o comment-icon"></i>
    </a> -->
    <%= link_to comments_new_path(review.id) do %>
      <i class="fa fa-comment-o comment-icon"></i>
    <% end %>

  </div><!-- .icons-container -->

  <div class="rev-bottom">
    <ul>
      <li><!--自分のコメント-->
        <%= link_to review.user.name, user_path(review.user_id), class: "content-user-name" %>
        <span><%= review.content %></span>
      </li>

      <% if review.comments.present? %>
          <%= link_to comments_new_path(review.id) do %>
          <span class="comment_count">コメント<%= review.comments.count %>件
          <% end %>
         </span>
      <% end %>
      <!-- ここ以下は他人からのコメント(if文で分岐)-->
      <!-- <li>
        <a href="#" class="content-user-name">shinnosuke_nohara</a>
        <span>同じの食べてんねｗ</span>
      </li> -->
    </ul>
  </div>
</div><!-- review-container -->
<% end %>
