<nav class="sp-header">
  <div class="container">
    <%= link_to "Menumeal", root_path, class: "sp-header-logo" %>
  </div>
</nav>

<section class="sp-form-wrapper">
<h1 class="sp-form-title">メニューを修正</h1>

<%= form_for(@menu, url: admin_menu_path(@menu)) do |f| %>

  <!-- <%= f.label :shop_id, '店舗' %><br/> -->
  <h3 class="sp-form-label">店舗</h3>
  <%= f.collection_select :shop_id, @shops, :id, :name, class: "sp-form-text" %><br/>

  <!-- <%= f.label :name, 'メニュー名' %><br/> -->
  <h3 class="sp-form-label">メニュー名</h3>
  <%= f.text_field :name, size: 30, class: "sp-form-text" %><br/>

  <!-- <%= f.label :price, '値段(税込)' %><br/> -->
  <h3 class="sp-form-label">値段(税込)</h3>
  <%= f.number_field :price , class: "sp-form-text"%><br/>

  <!-- <%= f.label :menu_type, 'メニューの種類' %><br/> -->
  <h3 class="sp-form-label">メニューの種類</h3>
  <%= f.select :menu_type, ['food', 'drink', 'course', 'others'],
          { include_blank: '選択してください' }, class: "sp-form-text" %><br/>

  <%= f.submit 'メニューを修正', class: "sp-form-submit" %>
<% end %>
</section>
