<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menumeal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="global-header">
      <div class="container">
        <%= link_to "Menumeal", root_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
  </header>

  <main class="main">
    <div class="main__container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div><!-- .main__container -->
  </main>

  <footer class="footer wrapper">
    <div class="container">
      <ul>
        <li>Menumeal</li>
        <li>運営会社</li>
        <li>利用規約</li>
        <li>プライバシーポリシー</li>
        <li>取材申し込み</li>
      </ul>
      <span class="copyright">© Menumeal, Inc. All Right Reserved.</span>
    </div>
  </footer>
  </body>
</html>
