<div class="signup-form-wrapper">
    <h2 class="signup-title">新規登録</h2>

    <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, class: "signup-form", placeholder: "メールアドレス" %>
      </div>

      <div class="field">
        <!-- <%= f.label :name, 'ユーザーネーム' %><br /> -->
        <%= f.text_field :name, class: "signup-form", placeholder: "ユーザー名" %>
      </div>

      <div class="field">
        <!-- <%= f.label :password, 'パスワード' %> -->
        <!-- <% if @minimum_password_length %> -->
        <!-- <em>(<%= @minimum_password_length %> 文字以上)</em> -->
        <!-- <% end %><br /> -->
        <%= f.password_field :password, autocomplete: "off", class: "signup-form", placeholder: "パスワード" %>
      </div>

      <div class="field">
        <!-- <%= f.label :password_confirmation, 'パスワード（確認）' %><br /> -->
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "signup-form", placeholder: "パスワード(確認)" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "signup-form-btn" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
